#onBackground {
  display: none;
  background-color: blue; }

body {
  background-image: url("../../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: tahoma; }

#active {
  color: #19C5FF;
  border-bottom: 2px solid #19C5FF;
  background-color: transparent; }

#menu {
  margin-top: 20px;
  height: 620px; }
  #menu .f-nav {
    z-index: 9999;
    background-color: #F0F0F0;
    box-shadow: 2px 2px 5px #888888;
    transition: 0.5s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; }
  #menu ul li a {
    color: white;
    opacity: 0.7;
    text-transform: uppercase; }
  #menu ul li :hover {
    background-color: transparent;
    color: #19C5FF;
    transition: 1s; }
  #menu .dropdown:hover .dropbtn {
    background-color: #272727; }
  #menu li.dropdown {
    display: inline-block; }
  #menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #272727;
    min-width: 160px; }
  #menu .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #272727; }
  #menu .dropbtn:hover {
    display: block;
    border-top: 6px solid #19C5FF; }
  #menu .dropdown-content a:hover {
    color: #19C5FF;
    background-color: black; }
  #menu .dropdown:hover .dropdown-content {
    display: block; }
  #menu .box {
    border: 1px solid red; }
  #menu .col-md-2 img {
    width: 130px;
    height: 37px;
    position: absolute;
    left: 30px;
    top: 8px;
    cursor: pointer; }
  #menu .col-md-10 {
    margin-top: 125px; }
  #menu h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    left: 450px; }
  #menu h4 {
    text-align: center;
    color: white;
    left: 500px;
    font-size: 25px; }
  #menu button {
    background-color: #19C5FF;
    width: 238px;
    height: 44px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    float: left;
    margin-left: 30%;
    margin-right: 10px;
    margin-top: 20px; }
    #menu button i {
      color: white;
      font-size: 20px; }
  #menu h3 {
    border: 1px solid white;
    color: white;
    font-size: 20px; }
  #menu span {
    color: #19C5FF; }
  #menu p {
    width: 138px;
    height: 44px;
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 1px;
    float: left;
    margin-top: 20px;
    cursor: pointer; }
  #menu p:hover {
    background-color: white;
    color: #19C5FF;
    transition: 0.5s; }

#logo {
  height: 121px;
  background-color: lightgray; }
  #logo .logo1, #logo .logo2, #logo .logo3, #logo .logo4, #logo .logo5 {
    text-align: center;
    float: left;
    padding: 10px;
    width: 175px;
    height: 110px;
    display: none; }

#login p {
  position: absolute;
  top: -85px; }

#login h6 {
  position: absolute;
  top: -66px;
  left: -25px;
  color: white;
  font-size: 15px;
  opacity: 0.6;
  cursor: pointer; }

#login h6:hover {
  color: #19C5FF; }

#login p {
  width: 102px;
  height: 34px;
  border: 1px solid #19C5FF;
  color: #19C5FF;
  padding-top: 5px;
  padding-left: 22px;
  border-radius: 1px;
  float: left;
  cursor: pointer;
  margin-top: 20px; }

#login p:hover {
  background-color: #19C5FF;
  color: white; }

@media only screen and (max-width: 960px) {
  .navbar {
    display: none; } }
#one {
  height: 1700px;
  background-color: white; }
  #one #slider {
    height: 657px; }
    #one #slider h4 {
      background-color: white;
      width: 181px;
      height: 60px;
      padding: 0px;
      margin: 0px;
      color: gray;
      font-size: 20px;
      border-radius: 1px;
      border: 1px solid  lightgray;
      float: left;
      padding-top: 20px;
      padding-left: 40px;
      font-size: 14px;
      cursor: pointer; }
    #one #slider h4:hover {
      background-color: #19C5FF;
      color: white; }
    #one #slider .active {
      background-color: #19C5FF;
      color: white; }
    #one #slider .col-md-8 {
      margin-top: 60px; }
    #one #slider .col-md-10 {
      margin-top: 90px; }
    #one #slider span {
      color: #19C5FF; }
    #one #slider h1 {
      color: gray;
      padding-left: 100px; }
    #one #slider p {
      line-height: 22px;
      font-size: 19px;
      text-align: center; }
    #one #slider h5 {
      font-size: 14px;
      width: 160px;
      height: 50px;
      background-color: transparent;
      border: 1px solid #19C5FF;
      float: left;
      margin-right: 20px;
      border-radius: 2px;
      padding-top: 13px;
      padding-left: 22px;
      color: #19C5FF;
      text-transform: uppercase; }
    #one #slider .center {
      margin-left: 140px;
      margin-top: 40px; }
    #one #slider h5:hover {
      background-color: #19C5FF;
      color: white; }

#technology .col-md-6 {
  height: 519px; }
#technology .col-md-11 {
  margin-top: 55px; }
#technology span {
  color: #19C5FF; }
#technology p {
  font-size: 20px;
  line-height: 30px; }
#technology h1 {
  color: gray; }
#technology hr {
  width: 88%; }

#helmet {
  height: 580px; }
  #helmet img {
    height: 450px; }
  #helmet span {
    color: #19C5FF; }
  #helmet .col-md-10 {
    margin-top: 80px;
    text-align: right;
    line-height: 25px; }
  #helmet h1 {
    color: gray; }

#two {
  height: 560px;
  background-color: #F0F0F0; }
  #two h3 {
    color: #19C5FF; }
  #two .slider2 {
    width: 313px;
    height: 140px;
    background-color: transparent;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer; }
  #two .slider2:hover {
    background-color: #19C5FF;
    color: white;
    transition: 0.8s; }
  #two p, #two h3 {
    padding-left: 70px; }
  #two .col-md-12 {
    margin-top: 50px; }

.go {
  text-align: center; }

.box {
  height: 230px; }
  .box i {
    color: #19C5FF; }
  .box span {
    line-height: 19px;
    color: gray; }
  .box i:hover {
    color: #7fdfff; }

#three {
  height: 800px;
  background-color: white; }

#newsletter {
  margin-top: -600px;
  height: 148px;
  background-image: url("../../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  #newsletter article {
    padding-top: 25px; }
  #newsletter .btn {
    background-color: transparent;
    border: 1px solid white;
    width: 138px; }
  #newsletter .btn:hover {
    background-color: white;
    color: #19C5FF; }
  #newsletter h2 {
    font-size: 43px; }
  #newsletter .marg {
    margin-left: 50px; }

#four {
  height: 250px;
  background-color: white;
  background-image: url("../../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  #four h2 {
    font-size: 42px;
    margin-top: 60px; }
  #four spam {
    color: #19C5FF; }
  #four .col-md-8 {
    text-align: center; }
  #four p {
    font-size: 15px;
    line-height: 27px; }
  #four i {
    margin-top: 100px;
    background: transparent; }

#feedback {
  background-color: white; }
  #feedback span {
    color: #19C5FF; }
  #feedback p {
    margin-top: 20px; }
  #feedback .margin-top {
    margin-top: 20px;
    margin-bottom: 20px; }

#three {
  height: 1200px;
  background: white; }
  #three p {
    text-align: center; }
  #three .col-md-6 {
    text-align: center;
    margin-top: 70px; }
    #three .col-md-6 span {
      color: #19C5FF; }
    #three .col-md-6 p {
      line-height: 25px; }
    #three .col-md-6 h1 {
      font-size: 40px; }
  #three .individual {
    width: 361px;
    height: 596px;
    background-color: #F8F8F8;
    float: left;
    margin-left: 70px; }
  #three .package-title {
    font-size: 28px;
    color: #AAAAAA;
    text-align: center;
    text-transform: uppercase; }
  #three .package-price {
    font-size: 90px;
    color: #AAAAAA;
    text-align: center;
    background-color: #F0F0F0; }
  #three .per {
    font-size: 18px;
    text-transform: uppercase; }
  #three .dollar {
    font-size: 30px; }
  #three .package-detail {
    text-align: center; }
    #three .package-detail li {
      color: #AAAAAA; }
    #three .package-detail li:first-child {
      padding-top: 35px; }
    #three .package-detail hr {
      width: 70%; }
  #three .button {
    border: 1px solid #AAAAAA;
    width: 250px;
    height: 47px;
    margin-left: 52px;
    font-size: 19px;
    color: #AAAAAA; }
  #three .studio {
    width: 361px;
    height: 596px;
    background-color: #F8F8F8;
    margin-left: 27px; }
  #three .enterprise {
    width: 361px;
    height: 596px;
    background-color: #F8F8F8;
    margin-left: -13px; }
  #three .studio:hover {
    background-color: #19C5FF; }
    #three .studio:hover .package-title {
      color: white; }
    #three .studio:hover .package-detail {
      color: white; }
    #three .studio:hover a {
      color: white; }
    #three .studio:hover .package-price {
      background-color: #23ADDB;
      color: white; }
    #three .studio:hover li, #three .studio:hover strong, #three .studio:hover hr {
      color: white; }
  #three .enterprise:hover {
    background-color: #19C5FF; }
    #three .enterprise:hover .package-title {
      color: white; }
    #three .enterprise:hover .package-detail {
      color: white; }
    #three .enterprise:hover a {
      color: white; }
    #three .enterprise:hover .package-price {
      background-color: #23ADDB;
      color: white; }
    #three .enterprise:hover li, #three .enterprise:hover strong, #three .enterprise:hover hr {
      color: white; }
  #three #logo2 .logo1, #three #logo2 .logo2, #three #logo2 .logo3, #three #logo2 .logo4, #three #logo2 .logo5 {
    text-align: center;
    float: left;
    padding: 10px;
    width: 175px;
    height: 110px;
    display: none; }

#five {
  height: 800px;
  background-color: white; }
  #five .header h2 {
    text-align: center;
    color: black;
    font-size: 45px; }
  #five span {
    color: #19C5FF; }
  #five p {
    text-align: center;
    line-height: 22px; }
  #five .team-member, #five .team-member1, #five .team-member2, #five .team-member3 {
    width: 230px;
    height: 110px; }
  #five h5 {
    padding-left: 80px;
    font-size: 22px;
    color: #19C5FF; }

#team-member {
  background: red;
  height: 200px;
  width: 100px;
  position: absolute; }

.developers {
  margin-top: 50px; }

.text-container, .text-container1, .text-container2, .text-container3 {
  display: none;
  width: 264px;
  height: 262px;
  margin-top: 10px;
  z-index: 1;
  position: absolute;
  background-color: #19C5FF;
  transition: all 1s ease;
  opacity: 0.8; }
  .text-container p, .text-container1 p, .text-container2 p, .text-container3 p {
    padding: 50px 20px;
    color: white; }
  .text-container ul, .text-container1 ul, .text-container2 ul, .text-container3 ul {
    margin-left: -20px; }
  .text-container ul li, .text-container1 ul li, .text-container2 ul li, .text-container3 ul li {
    float: left;
    list-style: none;
    padding: 2px 7px 2px 7px;
    border: 1px solid white;
    margin-left: 15px; }
  .text-container ul li a, .text-container1 ul li a, .text-container2 ul li a, .text-container3 ul li a {
    color: white; }

#launch {
  height: 137px;
  background-color: #19C5FF;
  margin-top: -85px; }
  #launch h2 {
    color: white;
    font-size: 45px; }
  #launch i {
    color: white; }
  #launch p {
    color: white; }
  #launch h4 {
    text-transform: uppercase;
    border: 1px solid white;
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-top: 40px;
    color: white;
    padding-top: 10px;
    padding-left: 19px;
    border-radius: 2px; }
  #launch h4:hover {
    background-color: white;
    color: #19C5FF;
    cursor: pointer;
    transition: 0.5s; }

#six {
  height: 416px;
  background-image: url("../../images/background.jpg");
  background-attachment: fixed;
  background-size: cover; }
  #six i {
    margin: 10px; }
  #six .social {
    margin-top: 40px; }
    #six .social p {
      color: white;
      margin-top: 20px; }
  #six .social strong {
    padding-left: 30px;
    font-size: 20px;
    color: white; }

.copyright {
  margin-top: 90px;
  color: lightgray;
  opacity: 0.5; }

.contacts {
  margin-top: 45px; }
  .contacts strong {
    color: white;
    font-size: 20px; }
  .contacts span {
    color: white; }
  .contacts i {
    color: #19C5FF; }

.slider .people-first {
  animation: myPicAni 1s 1; }
@keyframes myPicAni {
  0% {
    transform: translateX(-700px); }
  80% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }
.people-second {
  animation: myTxtAni 1s 1; }
@keyframes myTxtAni {
  0% {
    transform: translateX(700px); }
  80% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }
.left-anim {
  animation: leftAni 2s 1; }

@keyframes leftAni {
  0% {
    transform: translateX(-1000px); }
  80% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0px); } }
.right-anim {
  animation: rightAni 2s 1; }

@keyframes rightAni {
  0% {
    transform: translateX(1000px); }
  80% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0px); } }
#helmet .helmet-left {
  animation: helmetLeft 3s 1; }
@keyframes helmetLeft {
  0% {
    transform: translateX(-1500px); }
  80% {
    transform: translateX(30px); }
  100% {
    transform: translateX(0px); } }
#helmet .helmet-right {
  animation: helmetRight 3s 1; }
@keyframes helmetRight {
  0% {
    transform: translateX(1500px); }
  80% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(0px); } }
#laptop1 {
  overflow: hidden; }

#two .laptop {
  animation: laptopBottom 3s 1; }
@keyframes laptopBottom {
  0% {
    transform: translateY(1600px); }
  80% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }
.featuresRight {
  animation: featuresRight 4s 1; }

@keyframes featuresRight {
  0% {
    transform: translateX(1700px); }
  80% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(0px); } }
#featuresLeft {
  animation: featuresLeft 4s 1; }

@keyframes featuresLeft {
  0% {
    transform: translateX(-1700px); }
  80% {
    transform: translateX(30px); }
  100% {
    transform: translateX(0px); } }
.getLeft {
  animation: getLeft 4s 1; }

@keyframes getLeft {
  0% {
    transform: translateX(-1900px); }
  80% {
    transform: translateX(30px); }
  100% {
    transform: translateX(0px); } }
.getRight {
  animation: getRight 4s 1; }

@keyframes getRight {
  0% {
    transform: translateX(1900px); }
  80% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(0px); } }
.awardsOverflow {
  overflow: hidden; }

.productsTop {
  animation: products 4s 1; }

@keyframes products {
  0% {
    transform: translateY(2000px); }
  80% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }
.awardsOverflow {
  overflow: hidden; }

.hidden {
  overflow: hidden; }

.ourAwards {
  animation: ourAwards 5s 1; }

@keyframes ourAwards {
  0% {
    transform: translateY(-2000px); }
  80% {
    transform: translateY(-30px); }
  100% {
    transform: translateY(0px); } }
.memberOneAnim {
  animation: memberOneAnim 5s 1; }

@keyframes memberOneAnim {
  0% {
    transform: translateY(700px); }
  80% {
    transform: translateY(30px); }
  100% {
    transform: translateY(0px); } }
#register30Day span {
  color: #19C5FF; }
#register30Day h3 {
  border: none; }

#anket .anket {
  width: 559px;
  height: 509px;
  background-color: #F0F0F0; }
#anket input {
  width: 359px;
  height: 45px;
  border-left: 3px solid #19C5FF; }
#anket h6 {
  font-size: 14px; }
#anket input:last-child {
  width: 20px;
  height: 20px; }
#anket p {
  background-color: #19C5FF;
  width: 213px;
  height: 62px;
  border-radius: 3px;
  font-size: 23px;
  padding-left: 40px; }
#anket h6:last-child {
  font-size: 15px;
  color: white; }

/*# sourceMappingURL=style.css.map */
